@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notifications" />
<form method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome FFB </h1>
        <p>Future First Bank. The Only Bank you can trust.</p>
    </div>
    <div class="row align-self-center pb-sm-3">
        <button type="submit" 
            class="btn btn-outline-secondary text-dark p-lg-3 form-control" asp-controller="Home" asp-action="Register">Register</button>
    </div>
    <div class="row align-self-center pb-sm-3">
        <button type="submit" class="btn btn-outline-secondary text-dark p-lg-3 form-control" asp-controller="Home" asp-action="LogIn">LogIn</button>
    </div>

</form>
