@model CombinedClasses

@{
    bool disableButtons = false;

    disableButtons= !Model.User!.AdminRights ? true : false;
}
<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-success text-white">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-White py-3" style="font-size:xx-large">Manage Database</h2>
            </div>
        </div>
    </div>
  <div class="card-body bg-info p-4">
<partial name="_Notifications" />
<form method="post">
    <div class="text-center">  
    </div>

  <div class="card shadow border-0 mt-1 col-md-13">
        <div class="mb-0 row p-3">
             <div class="col-6 col-md">
                    <button type="Submit" class="btn btn-lg btn-outline-secondary text-dark form-control" style="font-size:xx-large" asp-controller="Home" asp-action="DisplayUsers"> Display all Users </button>
                </div>
           </div>
   </div>
   <div class="card shadow border-0 mt-3 col-md-13">
        <div class="mb-0 row p-3">
            <div class="col-6 col-md">
                <button type="submit" class="btn btn-lg btn-outline-secondary text-dark form-control" style="font-size:xx-large" asp-controller="Access" asp-action="Edit">Edit User Details</button>
            </div>
        </div>
   </div>

   <div class="card shadow border-0 mt-3 col-md-13">
        <div class="mb-0 row p-3">
            <div class="col-6 col-md">
                <button type="submit" class="btn btn-lg btn-outline-secondary text-dark form-control" style="font-size:xx-large" asp-controller="Access" asp-action="Delete" disabled="@disableButtons">Delete User</button>
             </div>
        </div>
    </div>
    
</form>
</div>
</div>
